
<div id="banner">
  <div class="banner_content">
    <h1>YTP Co</h1>
    <p>Large company with years of experience</p>
  </div>
</div>

<div id="button_cta" class="text-center">
  <div class="wrapper">
    <h2>New User</h2>
    <h4>If you want to Sign Up...</h4>
    <%= link_to "Click Meee!!!", new_user_registration_path, class: "button" %>
  </div>
</div>

<footer>
  <p>&copy; Hugo Lopez</p>
</footer>
